<h1>Liste produits</h1>
<ul>
    <li>Cette page illustre le fonctionnement du routing dans ASP.NET Core MVC.</li>
    <ul>
        <li>Tapez /Produit pour voir cette liste.</li>
        <li>Tapez /Produit/chiffre pour afficher les détails du produit dont l’identifiant est le chiffre.</li>
        <li>Tapez /Produit?q=mot pour effectuer une recherche avec le mot "mot".</li>
</ul>
</ul>