@model Product

<h1>Détails du produit :</h1>

<dl>
    <dt>Id :</dt>
    <dd>@Model.Id</dd>

    <dt>Nom :</dt>
    <dd>@Model.Name</dd>

    <dt>Catégorie :</dt>
    <dd>@Model.Categorie</dd>

    <dt>Prix :</dt>
    <dd>@Model.Prix.ToString("C", new CultureInfo("fr-FR"))</dd>
</dl>

<a asp-controller="Product" asp-action="Index">Retour à la liste</a>