@model ProduitFormVm

<h1>Éditer un produit</h1>

<form asp-controller="Produits" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="Name" class="form-label">Nom :</label>
        <input type="text" id="Name" asp-for="Nom" class="form-control" />
        <br />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Categorie" class="form-label">Catégorie :</label>
        <select asp-for="Categorie" asp-items="Html.GetEnumSelectList<Categorie>()" class="form-select">
            <option value="">— Choisissez une catégorie —</option>
        </select>
        <br />
        <span asp-validation-for="Categorie" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Prix" class="form-label">Prix :</label>
        <input type="number" id="Prix" asp-for="Prix" step="0.01" class="form-control" />
        <br />
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Stock" class="form-label">Stock :</label>
        <input type="number" id="Stock" asp-for="Stock" step="1" class="form-control" />
        <br />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class=" btn btn-primary">Enregistrer</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
